@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #107cf1;
    border-radius: 10px;
}

html,
body,
main {
    height: 100%;
    overflow: auto;
}
